
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Unbounded:wght@200..900&display=swap');


:root{
  --gap:16px;
  --radius: 16px;
  --bg: rgb(240, 240, 240);
  --card-bg: #ffffff;
  --muted: #666;
}

*{box-sizing:border-box}
html,body{height:100%;}
body {
    background: rgb(240, 240, 240);
    color: rgb(50, 50, 50);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin:0;
 }

.container {
max-width:940px;
margin:40px auto;
padding:20px;
}

h1,h2,h3 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  margin-bottom: 16px;
  }

hr {
  border: none;
  height: 1px;
  background-color: #afafaf;

} 

.text-center {
  text-align: center;
}
  
a {
    color:#02a8a8;
    text-decoration: none
}

a:hover {
color: #007070; 
}

a:active {
    color: #039292; 
}

.info {
    display: flex;
    margin-bottom: 20px;
}

.info-text {
    width: 50%;

}

.avatar {
    width: 240px;
    height: 240px;
    border-radius: 16px;
    object-fit: cover;
    object-position: top;    
    box-shadow: 4px 8px 24px rgba(50, 50, 50, 0.1);
    margin-right: 40px;
   }

.card {
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 16px;
    box-shadow: 4px 8px 24px rgba(50, 50, 50, 0.1);
}

.table {
    width: 100%;
}

.table td {
    padding-bottom: 8px;
    
}

.table td:nth-child(1) {
    width: 36%;
}

.table td:nth-child(2) {
    font-weight: 500;
}

.table td:nth-child(3) {
    color: #8b8b8b;
    text-align: right;
}

.list {
    padding: 0 24px;
}

.list li {
    padding-bottom: 8px;
}

.bg-white {
    background: #ffffff;
}


.contact h2 {
text-align: center;
}


.portfolio-block{
  display:flex;
  border-radius:var(--radius);
  align-items:stretch;
  gap:2%;
}

.portfolio-block.reverse{
  flex-direction:row-reverse;
}

.portfolio-block .left,
.portfolio-block .right{
  display:flex;
  flex-direction:column;

}

/* Соотношения */
.portfolio-block:not(.reverse){
  --left-basis:60%;
  --right-basis:38%;
}
.portfolio-block.reverse{
  --left-basis:38%;
  --right-basis:60%;
}
.portfolio-block > .left{flex:0 0 var(--left-basis);}
.portfolio-block > .right{flex:0 0 var(--right-basis);}

/* Изображения */
.portfolio-block img{
  width:100%;
  display:block;
  object-fit:cover;
  border-radius:16px;
  margin: 8px;
}

.portfolio-block img :last-child{
margin: 0px;
}  

/* Все картинки должны занимать равную общую высоту */
.portfolio-block > .left img:only-of-type,
.portfolio-block > .right img:only-of-type{
  height:calc(2 * 200px + var(--gap));
}

.portfolio-block .left img,
.portfolio-block .right img{
  height:200px;
}

@media (max-width:880px){
  .portfolio-block{flex-direction:column;}
  .portfolio-block.reverse{flex-direction:column;}
  .portfolio-block > .left,
  .portfolio-block > .right{flex:1 1 auto;}
  .portfolio-block img{height:auto;}
}

@media (max-width:420px){
  header h1{font-size:1.6rem}
  .portfolio-block{padding:12px}
}
